<div class="canvas-container">
  <video #video
         class="video-element"
         autoplay 
         playsinline 
         width="1920" 
         height="1080">
  </video>
  <canvas #canvas 
          width="1920" 
          height="1080">
  </canvas>
</div>

<div class="controls-overlay">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="startWebcam()" [disabled]="isWebcamActive">
          Start Webcam
        </button>
      </div>
      <div class="col-md-4">
        <app-coordinates-display></app-coordinates-display>
      </div>
      <div class="col-md-4">
        <app-gesture-display [currentGesture]="currentGesture"></app-gesture-display>
      </div>
    </div>
  </div>
</div>
